.sidebar {
	padding: 10px 0;
	position: fixed;
	top: 0;
	left: 10px;
	overflow-y: auto;
	/* background-color: red; */
}

.top-sidebar {
	margin-bottom: 1rem;
}

.sidebar-section {
	padding-bottom: 1rem;
	border-bottom: 1px solid #272727;
	width: 100%;
}

.sidebar-section > div {
	height: 40px;
	padding: 5px 20px;
	font-size: 0.8em;
	display: flex;
	align-items: center;
	justify-content: left;
	cursor: pointer;
	border-radius: 10px;
	gap: 1.25rem;
	color: #d4d4d4;
}

.sidebar-icon {
	font-size: 1.5em;
}

.sidebar-section > div:hover {
	background-color: #353535;
}

.active {
	background-color: #272727;
	font-weight: 400 !important;
	color: #fff !important;
}

.sidebar-channel {
}

.channel-name {
	text-transform: uppercase;
}
